* {
	margin: 0;
	padding-top: 10px ;
}

body {
	font-family: Arial;	
}
.tabl{
	margin: 0 auto;
	width: 650px;
}
td{
	width: 100px;
	height: 30px;
	padding: 5px;
	text-align: center;
	
	
}
.name{
	width: 150px;
	background: #a3cee9;
	text-align: left;
	padding-left: 20px;
}
.st1{
	background: green;
	color: #fff;
}
.st{
	background: #acfbb5;
}
.st:nth-child(even){
	background: #c1f28e;
	
}
.sixe{
	width: 30%;
}